# List auth methods
path "sys/auth"
{
  capabilities = ["read"]
}

path "secrets/"
{
  capabilities = ["list"]
}

path "secrets/*"
{
  capabilities = ["list"]
}

path "sys/mounts/*"
{
  capabilities = ["list", "read"]
}

# need to use `data/` because we're on secrets engine v2
# `data/` will not appear in the actual usage of vault since most clients
# intelligently add it in. it only appears in the policy
path "secrets/data/{{ team_name }}-*"
{
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}

path "secrets/data/{{ team_name }}"
{
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}
